.Header {
background-color: #1f2535;
margin-right: 500px;
padding-bottom: 120px;
display: flex;
justify-content: space-between;
}

.imgLogo{
    margin-left: 60px;
    padding-top: 30px;
}

.imgMenu {
    height: 13px;
    padding-top: 50px;
    padding-right: 50px;
}
